<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Sounds
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="recargarAnimales($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<ion-list>
  <ion-item-sliding *ngFor="let animal of animales">
    <ion-item (click)="reproducir(animal)">

      <ion-avatar item-left>
        <img [src]="animal.imagen">
      </ion-avatar>

      <h2>{{ animal.nombre }}</h2>

      <ion-icon *ngIf="!animal.reproduciendo" name="play-circle" item-right></ion-icon>
      <ion-icon *ngIf="animal.reproduciendo" name="pause" item-right></ion-icon>
    </ion-item>

    <!-- Botones del desplegable -->
    <!-- <ion-item-options side="left">
      <button ion-button color="primary">
        <ion-icon name="text"></ion-icon>
        Text
      </button>
      <button ion-button color="secondary">
        <ion-icon name="call"></ion-icon>
        Call
      </button>
    </ion-item-options> -->


    <ion-item-options side="right">
      <button ion-button color="danger" (click)="borrarAnimal(i)">
         <ion-icon name="trash"></ion-icon><!--trash = papelera -->
        Borrar
      </button>
    </ion-item-options>

  </ion-item-sliding>
</ion-list>
</ion-content>
