<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Sounds
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item-sliding>
    <ion-item *ngFor="let animal of animales"
              (click)="reproducir(animal)">

      <ion-avatar item-left>
        <img [src]="animal.imagen">
      </ion-avatar>

      <h2>{{ animal.nombre }}</h2>

      <ion-icon *ngIf="!animal.reproduciendo" name="play-circle" item-right></ion-icon>
      <ion-icon *ngIf="animal.reproduciendo" name="pause" item-right></ion-icon>
    </ion-item>

  <!-- Botones del desplegable -->
  <ion-item-options side="left">

  </ion-item-options>
  <ion-item-options side="right">

  </ion-item-options>


  </ion-item-sliding>
</ion-list>
</ion-content>
